streamlit==1.22.0
pandas
numpy
matplotlib
spacy
sumy
textblob
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl
plotly
scikit-learn
seaborn
